<h1 class="header">Bar Detail</h1>
<div id="bar-detail-wrapper">
  <p id="notice"><%= notice %></p>
  <div id="info-map-div">
    <div id="bar-info-container">
      <div id="bar-name-container">
        <p id="bar-name"><%= @bar.name %></p>
      </div>
      <div id="bar-address-container">
        <p id="bar-address"><%= @bar.address %></p>
      </div>

      <div id="bar-tag-container">
        <% if @tags == nil %>
            <p id="bar-tag"><%= @tags.first.category_name %></p>
        <% end %>
      </div>

      <!-- Average Bar Rating display - functions 100% -->
        <!-- <div id="bar-rating-container">
          <p id="bar-rating"><%= @rating_avg %></p>
        </div> -->

      <div id="bar-hours-container">
        <p id="bar-hours">Happiest Hours: <%= @bar.hours %></p>
      </div>
      <div id="drink-rating-container">
        <div id="drink-icon-wrapper">
          <div class="icon-box">
            <img src="/assets/beer.png" alt="Beer">
          </div>
          <div class="icon-box">
            <img src="/assets/wine.png" alt="Wine">
          </div>
          <div class="icon-box">
            <img src="/assets/cocktail.png" alt="Cocktails">
          </div>
        </div>
        <div id="rating-wrapper">
          <div class="rating-box">
            <p class="rating" id="beer-rating">$<%= @beer_avg %></p>
          </div>
          <div class="rating-box">
            <p class="rating" id="wine-rating">$<%= @wine_avg %></p>
          </div>
          <div class="rating-box">
            <p class="rating" id="cocktail-rating">$<%= @cocktails_avg %></p>
          </div>
        </div>
      </div>
    </div>

    <div id="map-container">
      <iframe width="100%" height="100%" frameborder="0" style="border:0" src="<%= @src %>" allowfullscreen></iframe>
    </div>
  </div>

  <div id="ratings-area">
    <% if @reports.length > 0 %>
        <% @reports.each do |report| %>
        <% local_user = User.find(report[:user_id]) %>
        <% puts "report.inspect #{report.inspect}"  %>
          <div id="rating">
            <div class="rating-top">
              <div class="left-info">
                <img id="thumbnail" src="" alt="">
                <div class="name-post-data">
                    <p class="rater-name"><%= link_to local_user.username, "/check_user/#{local_user.id}" %></p>
                    <p class="rater-date"><%= report.created_at.localtime.strftime("On %b %d, %Y at %I:%M%p") %></p>
                    <p class="rater-date"> Rating for <%= report.bars.first.name %>: <%= report.rating %></p>
                </div>
              </div>
              <!-- <%#= report.rating %> -->
              <div class="right-info">
                <div class="report-icon-container">
                  <div class="report-icon-box">
                    <img src="/assets/beer.png" alt="Wine">
                  </div>
                  <div class="report-icon-box">
                    <img src="/assets/wine.png" alt="Wine">
                  </div>
                  <div class="report-icon-box">
                    <img src="/assets/cocktail.png" alt="Wine">
                  </div>
                </div>
                <div class="report-rating-container">
                  <div class="report-rating-box">
                    <p class="report-rating">$<%= report.beer_price %></p>
                  </div>
                  <div class="report-rating-box">
                    <p class="report-rating">$<%= report.wine_price %> </p>
                  </div>
                  <div class="report-rating-box">
                    <p class="report-rating">$<%= report.cocktails_price %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="rating-bottom">
              <div class="rating-comment-container"><p class="rating-comment"><%= report.comment %> </p></div>
            </div>
          </div>
        <% end %>
    <% end %>
    <%= render :partial => 'reports/form' %>
  </div>
</div>
