<!-- N. Forms -->

<%= form_for([@neighborhood]) do |form| %>

    <% if neighborhood.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

        <ul>
        <% neighborhood.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">

        <%= label :neighborhood_name, "Name", class: "data-label" %>: <%= form.text_field :neighborhood_name, id: "neighborhood_name", class: "data-value" %><br />

        <%= form.submit "Submit", class: "submit_btn" %>
    </div>

<% end %>

<%= form_with(model: neighborhood, local: true) do |form| %>
  <% if neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

      <ul>
      <% neighborhood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% puts "\n******** params.inspect #{params.inspect} ********" %>

  <div class="actions">
      <%= label :neighborhood_name, "Name", class: "data-label" %>: <%= form.text_field :neighborhood_name, id: "neighborhood_name", class: "data-value" %><br />

      <%= form.submit "Submit", class: "submit_btn" %>
  </div>
<% end %>

<!-- Form for erros for reports -->

<% if report.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

    <ul>
    <% report.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>




<!-- report controller -->
#   , notice: 'Report was successfully created.'


<!--  -->


<div id="report_info">
    <% @reports.each do |report| %>
        <p><%= @user.username %> </p>
             <p> RATING: <%= report.rating %> </p>
             <p> Beer $: <%= report.beer_price %> </p>
             <p> Wine $: <%= report.wine_price %> </p>
             <p> Cockatils $: <%= report.cocktails_price %> </p>
             <p> Comment: <%= report.comment %> </p>
    <% end %>
    <% puts "**** @user.inspect: #{@user.inspect} ****" %>
    <% puts "**** @report.inspect: #{@report.inspect} ****" %>

    <br> <%= render :partial => 'reports/form' %>
</div>

<!-- Report.rb Validations -->

# validates :beer_price, :presence => { :message => "Please select a price range." }
# validates :wine_price, :presence => { :message => "Please select a price range." }
# validates :cocktails_price, :presence => { :message => "Please select a price range." }
# validates :rating, :presence => { :message => "Please select a rating." }


<!-- Bar Validations -->
# validates :name, :uniqueness => true, :presence => { :message => "This name already exists." }
# validates :address, :presence => { :message => "Please enter a valid address." }


<!-- matt report form -->
<%#= label :rating, "Rating", class: "data-label" %> <%#= form.text_field :rating, id: "rating", class: "data-value" %>
<!-- <%#= report.rating %> -->

<!-- <label id="rating-label" for="rating">Rating</label>
<select id="rating-drop-down" name="rating">
  <option class="rating-option" value="1">1</option>
  <option class="rating-option" value="2">2</option>
  <option class="rating-option" value="3">3</option>
  <option class="rating-option" value="4">4</option>
  <option class="rating-option" value="5">5</option>
</select> -->

<%#= form.text_field :beer_price, id: "beer_price", class: "data-value" %>
<!-- <select id="beer-drop-down" name="beer-rating">
  <option class="rating-option" value="4">$3-5</option>
  <option class="rating-option" value="6">$5-7</option>
  <option class="rating-option" value="8">$7-9</option>
</select> -->
<!-- <div class="rating-form-rating-box">
<%#= form.text_field :wine_price, id: "wine_price", class: "data-value" %>
<select id="wine-drop-down" name="wine-rating">
  <option class="rating-option" value="A">$3-5</option>
  <option class="rating-option" value="B">$5-7</option>
  <option class="rating-option" value="C">$7-9</option>
</select>
</div> -->
<!-- <div class="rating-form-rating-box">
<%#= form.text_field :cocktails_price, id: "cocktails_price", class: "data-value" %>
<select id="cocktail-drop-down" name="cocktail-rating">
  <option class="rating-option" value="A">$3-5</option>
  <option class="rating-option" value="B">$5-7</option>
  <option class="rating-option" value="C">$7-9</option>
</select>
</div> -->


      <%= label :tag_id, "Category Name", class: "data-label" %>: <%=select_tag :tag_id, options_from_collection_for_select(@tags, :id, :category_name) %>
