<%= form_for([@photo]) do |f| %>

    <div id="user-data">

        <!-- ======= Which Photo ======= -->
        <% if @new_photo %>
            <div class="data">
                <div class="data-label"><%= f.label :image %></div>
                <div class="data-value"><%= f.file_field :image, autofocus: true, class:'file-field', id:'photo-file' %></div>
            </div>
        <% else %>
            <div class="photo-box">
                <h2><%= photo.title %></h2>
                <%= link_to image_tag(photo.image.url, {class: "full"}), user_photo_path(current_user, photo) %>
                <%= image_tag(photo.image.url(:thumb), :class => "thumb") %>
            </div>
        <% end %>

        <!-- ======= Photo Properties ======= -->
        <div class="data">
            <div class="data-label"><%= label(:caption, "Caption") %></div>
            <div class="data-value"><%= f.text_field :caption, autofocus: true %></div>
        </div>
        <div class="data">
            <div class="data-label"><%= f.label(:content_type, "Image Type") %></div>
            <div class="data-value">
                <%= select_tag(:content_type, options_for_select(
                    [['image/jpeg', 1], ['image/png', 2], ['image/gif', 3]], 1)
                ) %></div>
        </div>

        <!-- ======= Submit ======= -->
        <div class="data">
            <div class="data-value">
                <%= f.submit value="Save Photo" %>
            </div>
        </div>

    </div>

<% end %>
