<p id="notice"><%= notice %></p>

<h1>Neighborhoods Index</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= link_to 'New Neighborhood', new_neighborhood_path %>
    <% @neighborhoods.each do |neighborhood| %>
      <tr>
        <td><%= neighborhood.neighborhood_name %></td>
        <td><%= link_to 'Show', neighborhood %></td>
        <td><%= link_to 'Edit', edit_neighborhood_path(neighborhood) %></td>
        <td><%= link_to 'Destroy', neighborhood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
